<ion-header>

</ion-header>

<ion-content style='background-color:rgb(246, 246, 246)'>
  <div *ngIf="this.preferences !== undefined">
    <div *ngIf="this.preferences.length > this.current">
      <ion-card style='margin-bottom:10%'>
        <img src="data:image/jpg;base64,{{this.preferences[this.current].picture}}" />
        <ion-card-content>
          <ion-card-title>
            <h1 style='font-size:5.5vw'>{{this.preferences[this.current].firstname}},
              {{this.preferences[this.current].age}}</h1>
          </ion-card-title>
          <div *ngIf="this.preferences[this.current].city != null">
            <p style='font-size:4vw'>
              <ion-icon name='home'></ion-icon> {{this.preferences[this.current].city}}
            </p>
          </div>
          <div *ngIf="this.preferences[this.current].city != null">
            <p style='font-size:4vw'>
              <ion-icon name='school'></ion-icon> {{this.preferences[this.current].school}}
            </p>
          </div>
          <div *ngIf = "this.preferences[this.current].about != null">
            <p style ='font-size:4vw'>
              {{this.preferences[this.current].about}}
            </p>
          </div>
        </ion-card-content>
      </ion-card>
      <div align='center'>
        <button ion-button (click)="dislike()" style='border-radius:100%;width:15vw;height:15vw;margin-right:30px'>
          <ion-icon style='font-size:8vw' name="md-close"></ion-icon>
        </button>
        <button ion-button (click)="like()" style='border-radius:100%;width:15vw;height:15vw' color="danger">
          <ion-icon style='font-size:8vw' name="heart"></ion-icon>
        </button>
      </div>
    </div>
  <div *ngIf="this.current >= this.preferences.length || this.preferences.length === 0"
      align='center' style='margin-top:25%'>
      <img src='assets/imgs/sad.png' height='75%' width='75%'>
      <p style='font-size:4.5vw'>No available matches at the moment.</p>
    </div>
  </div>
  <div *ngIf="this.preferences === undefined" align ='center' style ='margin-top:25%'>
      <img src='assets/imgs/sad.png' height='75%' width='75%'>
      <p style='font-size:4.5vw'>No available matches at the moment</p>
</div>

</ion-content>