<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content >
    <div align='center' style='padding-left:5%; padding-right:5%;padding-top:5%'>
        <img src='assets/imgs/register.png'>
        <div align='left'>
    
            <ion-col>
              <ion-input class='input' [(ngModel)] = "this.firstname" placeholder='Firstname'></ion-input>
            </ion-col>
            <ion-col>
              <ion-datetime class ='input' [(ngModel)] = "this.birthday" placeholder ='Birthday' displayFormat="MM/DD/YYYY" max = "2001-12-31" style ='padding:15px;'></ion-datetime>
            </ion-col>
           
          <ion-col style ='padding-left:0px'>
            <ion-input class='input' [(ngModel)] = "this.username" placeholder='Username' type='text' style='margin-bottom:5px'></ion-input>
          </ion-col>
          <ion-col style ='padding-right:0px'> 
            <ion-input class='input' [(ngModel)] = "this.password" placeholder='Password' type='password' style='margin-bottom:5px'></ion-input>
          </ion-col>
        
          <ion-row>
            <ion-col style = 'padding-left:0px'>
              <ion-label>I'm a</ion-label>
              <ion-select placeholder='Select One' class='input' [(ngModel)] = "this.gender" style ='padding:15px;max-width:100% !important'>
                <ion-option value='1'>Men</ion-option>
                <ion-option value='0'>Women</ion-option>
              </ion-select>
            </ion-col>
            <ion-col style ='padding-right:0px'>
              <ion-label>Interested in</ion-label>
              <ion-select placeholder='Select One' class='input' [(ngModel)] = "this.preference" style ='padding:15px;max-width:100% !important'>
                <ion-option value='1'>Men</ion-option>
                <ion-option value='0'>Women</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </div>
        <p>Who do you prefer to talk when you're depressed</p>
        <hr/>
        <ion-list>
          <div style ='display:flex;align-items:center'>
            <ion-checkbox [(ngModel)] = "this.parents"></ion-checkbox>
            <ion-label>Parents</ion-label>
            <ion-checkbox [(ngModel)] = "this.siblings"></ion-checkbox>
            <ion-label>Siblings</ion-label>
          </div>
          <div style ='display:flex;align-items:center'>
            <ion-checkbox [(ngModel)] = "this.friends"></ion-checkbox>
            <ion-label>Friends</ion-label>
            <ion-checkbox [(ngModel)] ="this.strangers"></ion-checkbox>
            <ion-label>Strangers</ion-label>
          </div>
          <div style ='display:flex;align-items:center'>
            <ion-checkbox [(ngModel)] = "this.others"></ion-checkbox>
            <ion-label>Others</ion-label>
          </div>
        </ion-list>
        <p>Before you proceed to our questionnaire, make sure you have read the UlikE's <a (click) = "readPrivacyPolicy()">Privacy Policy</a> and <a (click) = "readTOS()">Terms of Service</a></p>

        <!-- <button ion-button block (click) = "register()" [disabled] = "!this.termsofservice  || !this.privacypolicy" color ="pink" style ='margin-top:20px'>PROCEED TO QUESTIONNAIRE</button> -->
        <button ion-button block (click) = "register()" color ="pink" style ='margin-top:20px'>PROCEED TO QUESTIONNAIRE</button>
      </div>
</ion-content>
