<!--
  Generated template for the UserexamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>userexams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div *ngFor = "let question of questions">
  <h4>{{question.text}}</h4> 
  <p>Your answer : {{getExamAnswer(question.score)}}</p> 
  <p>You answered : {{question.date}}</p>
  <hr/>
</div>
</ion-content>
