<!--
  Generated template for the ViewprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div align ='center'>
    <img src = "data:image/jpg;base64,{{this.picture}}" width = '50%' height ='50%' style = 'border-radius:50%'>
    <h2>{{this.profileData.firstname}}, {{this.profileData.age}}</h2>
    <div *ngIf = "this.profileData.about !== '' && this.profileData.about !== null">
      <h4><i>"{{this.profileData.about}}"</i></h4>
    </div>
    <div *ngIf ="this.profileData.city !== '' && this.profileData.city !== null">
        <p><ion-icon name ='home'></ion-icon> {{this.profileData.city}}</p>
    </div>
    <div *ngIf ="this.profileData.school !== '' && this.profileData.school !== null">
        <p><ion-icon name ='school'></ion-icon> {{this.profileData.school}}</p>
    </div>
    </div>
</ion-content>
