<ion-header>

    <ion-navbar>
      <ion-title>
        {{this.username}}
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <div class="message-wrap">
   <!-- Dynamic Message -->
      <div *ngFor="let chat of chathistory"
           class="message"
           [class.left]=" chat.account_id !== this.user_id "
           [class.right]=" chat.account_id === this.user_id ">
           <div *ngIf = "chat.account_id !== this.user_id">
              <img class="user-img" src = "data:image/jpg;base64,{{this.other_avatar}}" alt="" >
           </div>
           <div *ngIf = "chat.account_id === this.user_id">
              <img class="user-img" src = "data:image/jpg;base64,{{this.your_avatar}}" alt="" >
           </div>
        <div class="msg-detail">
          <div class="msg-info">
            <p *ngIf = "chat.account_id === this.user_id">
              You
            </p>
            <p *ngIf = "chat.account_id !== this.user_id">
              {{this.firstname}}
            </p>
          </div>
          <div class="msg-content">
            <p class="line-breaker ">{{chat.message}}</p>
          </div>
        </div>
      </div>
      <!-- End dynamic message -->

      <!-- Sample message -->
      <!-- <div class ='message' [class.left] = "true">
        <img class ='user-img' src='assets/imgs/doge1.jpg' alt ="">
        <div class ='msg-detail'>
          <div class ='msg-info'>
            <p>dog_22&nbsp;&nbsp;&nbsp;4:20PM</p>
          </div>
          <div class ='msg-content'>
            <span class ='triangle'></span>
            <p class ='line-breaker'>Eyy</p>
          </div>
        </div>
      </div>
      <div class ='message' [class.right] = "true">
          <img class ='user-img' src='assets/imgs/default-male.png' alt ="">
          <div class ='msg-detail'>
            <div class ='msg-info'>
              <p>You&nbsp;&nbsp;&nbsp;Now</p>
            </div>
            <div class ='msg-content'>
              <span class ='triangle'></span>
              <p class ='line-breaker'>Eyy</p>
            </div>
          </div>
        </div> -->
      <!-- End sample message -->
  
    </div>
  </ion-content>
  
  <ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
    <div class="input-wrap">
      <textarea #chat_input
                placeholder="Text Input"
                [(ngModel)]="myMessage"
                (keyup.enter)="sendMessage()"
                (focusin)="onFocus()">
      </textarea>
      <button ion-button clear icon-only item-right (click)="sendMessage()">
        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
      </button>
    </div>