<ion-header>

</ion-header>

<ion-content padding>
  <h5>CHAT</h5>
  <hr />
  <div *ngFor ="let match of matches">
  <ion-item >
    <ion-avatar item-start>
      <img src="data:image/jpg;base64,{{match.picture}}" (click) = "gotoprofile(match.account_id, match.picture)">
    </ion-avatar>
    <p (click) = "gotochat(match.account_id, match.firstname, match.picture)">{{match.firstname}}</p>
    <p item-right>{{(match.isactive==1) ? "Online" : "Offline"}}</p>
  </ion-item>
  </div>
  <h5></h5>
</ion-content>