<ion-header>

</ion-header>

<ion-content padding >
  <div align = 'center'>
  <div>
    <img src = "data:image/jpg;base64,{{this.myphoto}}" width = '50%' height ='50%' style = 'border-radius:50%'>
  </div>
  <button ion-button [disabled] = "isenabled" (click) ="gotoGallery()">View gallery</button>
  <h1>{{this.userData.firstname}}, {{this.userData.age}}</h1>
  <p *ngIf = "this.userData.city != '' && this.userData.city != null"><ion-icon name ='home'></ion-icon> {{this.userData.city}}</p>
  <p *ngIf = "this.userData.school != '' && this.userData.city != null"><ion-icon name = 'school'></ion-icon> {{this.userData.school}}</p> 
  </div>
  <!-- Info -->
  <div>
    <hr/>
    <h5>About yourself</h5>
    <ion-input class ='input' [(ngModel)] ="this.userData.about" value = '{{this.userData.about}}'placeholder = 'Make it short :)'></ion-input>
    <button ion-button style ='margin-top:10px' (click) = "editabout()" block>Save bio</button>
    <hr/>
    <h5>Personal Info</h5>
    <ion-label>First name</ion-label>
    <ion-input placeholder ='Firstname' [(ngModel)] = "this.userData.firstname" value ='{{this.userData.firstname}}'></ion-input>
    <ion-label>Age</ion-label>
    <ion-input placeholder ='Age' [(ngModel)] = "this.userData.age" value ='{{this.userData.age}}' type= 'number'></ion-input>
    <ion-label>School</ion-label>
    <ion-input class ='input' [(ngModel)] ="this.userData.school" value = '{{this.userData.school}}'></ion-input>
    <ion-label>City</ion-label>
    <ion-input class = 'input' [(ngModel)] ="this.userData.city" value ='{{this.userData.city}}'></ion-input>
    <ion-label>Gender preference</ion-label>
    <ion-list radio-group [(ngModel)] = "this.preference">
      <div style ='display:flex; align-items:center'>
        <ion-label>Men</ion-label>
        <ion-radio value ='1'></ion-radio>
        <ion-label style ='margin:10px'>Women</ion-label>
        <ion-radio value ='0'></ion-radio>
      </div>
    </ion-list>
    <button ion-button style ='margin-top:10px' (click) = "editinfo()" block>Save changes</button>
    <h3>Other options</h3>
    <hr/>
    <button ion-button style ='margin-top:10px' (click) = "retake()" block>Retake PHQ</button>
    <button ion-button style ='margin-top:20px' color = 'danger' block (click) ="logout()">Sign out</button>
  </div>


</ion-content>
