<!--
  Generated template for the ExamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Patient Health Questionnaire</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style ='background-color:white'>
<div *ngFor = "let question of questions">
  <h5>{{question.text}}</h5>
  <ion-list radio-group [(ngModel)] = "this.answers[question.id-1]">
    <ion-item>
      <ion-label>Not at all</ion-label>
      <ion-radio value="0" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Several days</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>More than half the days</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Nearly every day</ion-label>
      <ion-radio value="3" ></ion-radio>
    </ion-item>
  </ion-list>
</div>
<button ion-button block (click) = "submit()" color ="pink" style ='margin-top:20px'>SUBMIT AND REGISTER</button>
</ion-content>
